<div class="row">
    <div class="col-md-3 mb-5" *ngFor="let movie of movies">
        <img [src]="movie.poster_path | poster" class="img-fluid poster" (click)="onMovieClick(movie)">
        <div>
            <h3>{{movie.title}}</h3>
            <div class="row m-o">
                <div class="col-8 m-0 text-white">
                    <ngb-rating [(rate)]="movie.vote_average" [readonly]="true" [max]="10" style="margin: 0; color:yellow; font-size: 21px"  ></ngb-rating>
                </div>
                <div class="col-2 text-white ">
                    {{movie.vote_average | number:'1.1-2'}}
                </div>
                <div class="col-1 text-white ">
                    <i [ngClass]="[!movie.fav ? 'fa-regular' :  'fa-solid',  'fa-heart']" (click)="movie.fav = !movie.fav; saveFav(movie)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- "/oG8rC5WEUFEMsMeBLGJWspJ1Gp5.jpg " -->